.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 915px;
}

.header__items {
  display: flex;
  gap: 27px;
}

.header__menu-link {
  font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
.header__menu-link:hover {
  color: #dfb56d;
}

.contacts__pic {
  width: 14px;
  height: 14px;
}