.fixed-menu{
    position: fixed;
    top: 25%;
    right: 11%;
    z-index: $z_fixed-menu;    
}

.fixed-menu__item{
    margin-bottom: 5px;

    &--active{
        .fixed-menu__link{
            border-color: #E01F3D;
        }
        .fixed-menu__link{
            &::before{
                background: #E01F3D;
                opacity: 1;
            }
        }
    }

    &:hover{
        .fixed-menu__link{
            border-color: #E01F3D;
        }
        .fixed-menu__link{
            &::before{
                background: #E01F3D;
                opacity: 1;
            }
        }
    }

}


.fixed-menu__link{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid transparent;
    display: block;
    position: relative;

    &::before{
        content: "";
        display: block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background:$colorFontTitle;
        opacity: 0.6;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}