
.container-intro{    
    // background: $colorBackGray url(../img/intro/beats1.png) right top no-repeat;\
    background: url(./../img/intro/beats1.png) right 43px/54% auto no-repeat;
    color: $colorFontTitle;
    // width: 50px;
    // height: 50px;
    // background-image: url('../img/intro/фон.png');
    // background-size: cover;
    // background-repeat: no-repeat;
    // display: block;
    // background-position: right top;    
    // border-radius:100%;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 580px;
    padding-top: 87px;
    position: relative;

    

        &::before{
            // display: block;
            content:"  ";
            position: absolute;
            width: 46px;
            height: 10px;
            background:#C4C4C4;
            bottom: -3px;        
            left: 93%;
            transform: rotate(-45deg);

        }
  }
.intro__title{
    max-width: 43%;
    margin-bottom: 17px;
    text-transform: uppercase;
    line-height: 1.1;
}

.intro__desc{
    max-width: 36%;
    margin-bottom: 34px;
    font-size: 21px;
    font-family: $Alegreya;
    line-height:1.3;
}

.features{
    display: flex;
    gap: 8px;
 
}
.intro__features{
    margin-top: auto;
    padding-bottom: 61px;
}


.feature{
    display: flex;
    gap: 10px;    
}

.feature__pic{
    width: 41px;
    height: 41px;
}

.feature__desc{
    max-width: 114px;
}
