.btn {
    display: inline-block;
    border: none;
    border-radius: 35px;    
    font-weight: bold;
    text-transform: uppercase;                          

}


.btn--theme-primary{   
    font-size: 16px; 
    padding: 14px 38px;
    border: 1px solid #F5170E;  
    background: #F5170E;                                        
    color: white;    
    transition: 0.8s;
    transition-property: color, background-color;

    &:hover{    
        background: white;
        color: #F5170E;        
    }
    
}

.btn--theme-primary-active{
    background: white;
    color: #F5170E;    
}

.btn--theme-secondary {
    /* width: 135px; */
    font-size: 16px; 
    padding: 18px 29px;
    background: white;
    border: 1px solid #F5170E;  
    color: #F5170E;    
    
    /* margin-top: auto; */
    align-self: flex-start;
    transition: 0.8s;
    transition-property: color, background-color;

}

.btn--theme-secondary-active{
    background: #F5170E;                    
    color: white; 

    &:hover {    
        background: #F5170E;                    
        /* border: 1px solid #000000; */
        color: white; 
    }
    
}


.btn--theme-black{    
    padding: 18px 40px;
    border: 1px solid #2B2B2B; 
    background: #2B2B2B;                                     
    color: white;    
    transition: 0.8s;
    transition-property: color, background-color;
    
    &:hover{    
        /* background: white; */
        background: transparent;
        color: #2B2B2B;                                     
    }
}
