$wrapperWidth: 1100px;
$containerWidth: 940px;  //915px      
$baseFontSize: 18px;
       
$colorBackGray:#F5F5F5;
$colorBackLightGray:#F8FAF9;
$colorFontTitle:#292929;
$backReviewsBlock:#F8FAF9;
$colorFontReviews:#666666;


$Alegreya:'Alegreya Sans', Helvetica, Arial,  sans-serif; 
$Play:'Play', Helvetica, Arial, sans-serif; 

$z_fixed-menu:100;