
.benefit{
    text-align: center;

    @include phones{
        text-align: start;
    }

}
 
.benefit__pic-wrapper{
    // color: #F2F5F4;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#F2F5F4;
    width: calc( 128px/$baseFontSize * 1rem);
    height: calc( 128px/$baseFontSize * 1rem);
    border-radius: 50%;    
    overflow: hidden;
}

.benefit__pic{
    margin-bottom: calc( 22px/$baseFontSize * 1rem);
    @include phones{
        margin-bottom: 0px;
    }

}

.benefit__icon{
    width: calc( 68px/$baseFontSize * 1rem);
    height: calc( 68px/$baseFontSize * 1rem);

    @include phones{
        width: rem(60px);
        height: rem(60px);

    }


}


.benefit__desc{
    // max-width: 247px;
    line-height: 1.2;
    padding: rem(14px) calc( 13px/$baseFontSize * 1rem);

    @include phones{
        padding: 0px;
    }

}

.benefit__title{    
    color: $colorFontTitle;
}

.benefit__text{
    @include phones{
        //padding-left: 9px;
        padding: 0px rem(48px) 0 rem(12px);
    }

}