
.benefits{
    display: flex;
    column-gap: calc( 55px/$baseFontSize * 1rem);
    @include tablets{
        column-gap: 0;
    }

    @include phones{
        // column-gap: 0;
        flex-direction: column;
        // padding-left: rem(43px);
    }

}

.benefits__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: calc( 276px/$baseFontSize * 1rem);
    position: relative;    

    &:after{
        content: url("../img/why/separator.png");
      position: absolute;  
      top: calc( 55px/$baseFontSize * 1rem);
      right: calc( -40px/$baseFontSize * 1rem);
      transform: translateX(50%);
    }

    &:last-child{
        &:after{
            display: none;
        }
    }

    @include tablets{
        &:after{
           display: none;
        }
        min-width: rem(258px);        
    }

    @include phones{
        &:after{
            display: none;
         }
         min-width: initial;
         flex-direction: row;
         margin-bottom: rem(40px);

 
    }


}



