.headline{
    margin-bottom: calc( 19px/$baseFontSize * 1rem);

    &::before{
        // display: block;
        content:"  ";
        position: absolute;
        width: 0;
        height: 0;
        border-left: calc( 17px/$baseFontSize * 1rem) solid transparent;
        border-right: calc( 17px/$baseFontSize * 1rem) solid transparent;
        border-bottom: calc( 34px/$baseFontSize * 1rem) solid red;
        // background:#C4C4C4;
        bottom: 2%;        
        left: 9%;
        transform: rotate(227deg);

    }

    @include phones{
        &::before{
            // bottom: 23%;        
            left: 7%;    
        }
    }


}

.headline__title{
    margin-bottom: calc( 17px/$baseFontSize * 1rem);  //8px
    @include tablets{
        margin-bottom: calc( 10px/$baseFontSize * 1rem);  //8px
    }

    @include phones{
        margin-bottom: rem(12px);
        font-size: rem(32px);
        line-height: rem(36px);
    }
}

.headline__subtitle{
    max-width: 55%;  
    text-align: center;
    margin-bottom: calc( 61px/$baseFontSize * 1rem);//57px;
    line-height: 1.18;

    @include tablets{
        max-width: 75%;
        margin-bottom: calc( 55px/$baseFontSize * 1rem);//57px;

    }

    @include phones{
        max-width: 100%;
        margin-bottom: 46px;

    }
     



}