.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;
    width:$containerWidth;
    // width:915px;
}

.header__items{
    display: flex;
    gap: 27px;   
    
}

.header__menu-link{
    font-family: $Alegreya; 
    font-size: $baseFontSize;
    &:hover{
        color: #dfb56d;
    }     
}

.contacts{
    display: flex;
    align-items: center;
}

.contacts__pic{
    width: 14px;
    height: 14px;
    margin-right: 6px;
}

.contacts__tel{
    font-size: 18px;
    line-height: 18px;
}