.colors-section {

    background-color: black;
    background-image: url(./../img/menu-colors/colors_background.png);
    background-repeat: no-repeat;
    // background-position: rem(-434px) top;
    background-position: right top;
    background-size: cover;
    justify-content: flex-start;
    position: relative;
}

.colors-title {
    position: absolute;
    top: rem(115px);
    left: rem(84px);

    font-weight: 700;
    font-size: rem(48px);
    line-height: rem(52px);
    text-transform: uppercase;
    color: white;
    opacity: 0;
    transition: opacity 0.5s;

    &--active {
        opacity: 1;
    }

    @include tablets {
        opacity: 0;
        top: rem(91px);
        left: rem(40px);
    }

}


.colors-title-menu {

    @include tablets {
        opacity: 1;
    }

    @include phones {
        top: rem(76px);
        left: rem(10px);
        font-size: rem(32px);
        line-height: rem(36px);
    }


}


.colors {
    align-self: flex-end;
}

.colors__list {
    display: flex;
}

.colors__elem {
    display: flex;  
    left: rem(400px);
    transition: left, 0.5s;
    
    &--active{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    // &:hover {
    //     .colors__cart {
    //         width: rem(524px);
    //     }
    // }
}

.colors__elem-title {
    display: flex;
    align-items: center;
    width: rem(102px);
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background-color: #999999;
    color: white;
    font-family: $Alegreya;

    &--black {
        background-color: #151515;
    }

    &--red {
        background-color: #E01F3C;
    }

    @include phones {
        width: rem(90px);
    }


}





.colors__text {
    margin-top: rem(34px);
    font-family: $Alegreya;
    font-weight: 700;
    font-size: rem(36px);
    line-height: rem(43px);    
}

.colors__cart {
    width: 0;
    overflow: hidden;
    background: rgba(51, 53, 55, 0.9);
    transition: width 0.5s;
    z-index: 2;

    &--active {
        width: rem(524px);

        @include tablets {
            width: rem(462px);            
        }

        @include phones {
            width: rem(390px);
        }
    }




}

.colors__desc {
    width: rem(524px);
    height: 100%;
    color: white;
    font-family: $Alegreya;
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(24px);
    padding: rem(31px) rem(43px) 0 rem(38px);

    @include tablets {
        width: rem(462px);
    }

    @include phones {
        width: rem(390px);        
    }
}