.colors-section {

    background-color: black;
    background-image: url(./../img/menu-colors/colors_background.png);
    background-repeat: no-repeat;
    // background-position: -434px top;
    background-position: right top;
    background-size: cover;
    justify-content: flex-start;
    position: relative;
}

.colors-title {
    position: absolute;
    top: 115px;
    left: 84px;

    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
    color: white;
    opacity: 0;
    transition: opacity 0.5s;

    &--active {
        opacity: 1;
    }

    @include tablets {
        opacity: 0;
        top: 91px;
        left: 40px;
    }

}


.colors-title-menu {

    @include tablets {
        opacity: 1;
    }

    @include phones {
        top: 76px;
        left: 10px;
        font-size: 32px;
        line-height: 36px;
    }


}


.colors {
    align-self: flex-end;
}

.colors__list {
    display: flex;
}

.colors__elem {
    display: flex;  
    left: 400px;
    transition: left, 0.5s;
    
    &--active{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    // &:hover {
    //     .colors__cart {
    //         width: 524px;
    //     }
    // }
}

.colors__elem-title {
    display: flex;
    align-items: center;
    width: 102px;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background-color: #999999;
    color: white;
    font-family: $Alegreya;

    &--black {
        background-color: #151515;
    }

    &--red {
        background-color: #E01F3C;
    }

    @include phones {
        width: 90px;
    }


}





.colors__text {
    margin-top: 34px;
    font-family: $Alegreya;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
}

.colors__cart {
    width: 0;
    overflow: hidden;
    background: rgba(51, 53, 55, 0.9);
    transition: width 0.5s;
    z-index: 2;

    &--active {
        width: 524px;

        @include tablets {
            width: 462px;            
        }

        @include phones {
            width: 390px;
        }
    }




}

.colors__desc {
    width: 524px;
    height: 100%;
    color: white;
    font-family: $Alegreya;
    font-weight: 400;
    font-size: 16.0138px;
    line-height: 24px;
    padding: 31px 43px 0 38px;

    @include tablets {
        width: 462px;
    }

    @include phones {
        width: 390px;        
    }
}