.container-black{
    background: #181818;;
    width: 100%;
    color: white;
    background: url(./../img/order/cta.png) center center no-repeat;
    background-size: cover;
    position: relative;

    &:before {
        content: url(./../img/order/Polygon\ 2.png);
        position: absolute;
        width: calc( 35px/$baseFontSize * 1rem);
        height: calc( 35px/$baseFontSize * 1rem);
        top: calc( -23px/$baseFontSize * 1rem);
        left: 80.5%;
    }

}

.order-section__title{
    color: white;
    margin-bottom: calc( 57px/$baseFontSize * 1rem);

    @include tablets{
        margin-bottom: rem(29px);
    }

    @include phones{
        margin-bottom: rem(36px);
        font-size: rem(32px);
        line-height: rem(36px);
    }

}