.player-section__title{
    margin-bottom: rem(44px);

    @include phones{
        font-size: 32px;
        line-height: 36px;
    }

}

.player{
    width: 662px;
    // width: 60%;

    @include tablets{
        width: 594px;
        // width: 77%;
    }

    @include phones{
        width: 394px;
        // width: 82%;
    }

}

.player__wrapper{
 display: flex;
}

.player__elem{
    width: 100%;
    height: auto;
    max-height: 100%;
}

.player__controls{
    // position: relative;
    display: flex;
    height: 35px;

    @include tablets{
        height: 31px;
    }

    @include phones{
        height: 20px;
    }

    background: #151515;
}

.player__start{
    margin-left: 17px;
    margin-right: 57px;
    // position: absolute;
    // left: 11px;
    // top: 50%;
    // transform: translate(0,-50%);
    // transform: translate(0, -42%);

    // border-left: rem(4px) solid transparent;
    // border-right: rem(4px) solid transparent;
    // border-bottom: rem(8px) solid red;
    // top: 50%;
    // transform: translate(50%,50%);
    // left: 0;
    // transform: rotate(90deg);     
}

.player__start-pic{
    width: 13px;
    height: 16px;
    fill: white;  
}

.player__playback{    
    // position:absolute;
    position: relative;
    width: 67%;
    // height: 3.58px;
    height: 11.5%;
    background: #333333;
    // background-color: green;
    top: 50%;
    transform: translate(0, -50%);
}

.player__playback-button{
    position: absolute;
    background: #E01F3D;
    border-radius: 50px;
    border: none;
    width: 12px;
    height: 12px;
    padding: 0;
    top: 50%;
    transform: translate(0, -50%);
    left: 20px;
}





.player__volume{
    // position: absolute;
    // top: 50%;
    // transform: translate(0, 50%);
    // left: 20px;
}

.player__volume-pic{
    height: 16px;
    fill: white;  
}