.products-section{
    background:  #F8FAF9;;
}

.products{
    display: flex;
    align-items: center;

    &::before{
        // display: block;
        content:"  ";
        position: absolute;
        width: rem(24px);
        height: rem(24px);
        background:#C4C4C4;
        bottom: rem(-10px);
        left: 79%;
        transform: rotate(-61deg);

    }


}

.products__arrow{
    font-size: rem(50px);
    color: black;
    margin-top: rem(53px);

    @include tablets{
        margin-top: rem(-370px);
    }

    @include tablets{
        margin-top: rem(-313px);
    }
}



.products__arrow-prev{
    margin-right: rem(28px);
    @include tablets{
        margin-right: 0;
    }
}

.product{
    display: flex;
    align-items: center;

    @include tablets{
        flex-direction: column;
    }


}

.product__content{

    @include tablets{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.product__image{
    max-width: 47%;
    margin-right: rem(57px);

    @include tablets{
        margin: 0 0 rem(40px) 0;
    }

    @include phones{
        max-width: 74%;
        margin: 0 0 rem(34px) 0;
    }


}


.product__props-box { 
    display: inline-block; 
    position: relative; 
    margin-bottom: rem(25px); 
 
    &:hover .drop-info { 
        opacity: 1; 
        left: 100%; 
    } 
} 

.product__properties{   
    width: rem(91px);
    height: rem(91px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9A9A9A;
    // margin-bottom: rem(25px);
    
    @include tablets{
        display: none;
    }

}

.product__properites-icon{
    width: rem(42px);
    height: rem(42px);
}

.product__title{        
    font-weight: bold;
    font-size: rem(36px);
    line-height: rem(42px);
    text-transform: uppercase;
    color: #292929;
    margin-bottom: rem(24px);

    @include tablets{
        text-align: center;
        font-size: rem(28px);
        line-height: rem(32px);
        margin-bottom: rem(15px);
    }
}

.product__desc{
    max-width: rem(368px);
    font-size: rem(16px);
    line-height: rem(19px);
    margin-bottom: rem(29px);

    @include tablets{
      max-width: 100%;  
      text-align: center;
      padding: 0 rem(30px);
    }

    @include phones{
       padding: 0; 
       margin-bottom: rem(24px);
    }


}

.product__prop{    
    display: flex;
    justify-content:flex-start;
    column-gap: rem(45px);
    margin-bottom: rem(24px);
}

.product__prop-desc{
    min-width: rem(104px);
}

.product__prop-text{
    font-size: rem(16px);
    line-height: rem(19px);
}

.product__prop-value{
    font-weight: bold;
    font-size: rem(18px);
    line-height: rem(21px);
    color: black;
}

.product__order{
    display: flex;
    column-gap: rem(23px);

    @include tablets{
        column-gap: rem(40px);
    }

    @include tablets{
      column-gap: rem(26px);
    }
}

.product__price{
    font-size: rem(36px);
    line-height: rem(60px);
    color: #151515;

    @include tablets{
        font-size: rem(40px);
        line-height: rem(60px);
    }

    @include tablets{
        font-size: rem(32px);
    }
}