.radio{
    display: flex;
    cursor: pointer;
    user-select: none;

    &--checkbox{
        .radio__visible{
            border-radius: 0;

            &::before{
                background: url(./../img/order/checkmark.png) center center no-repeat;
            }
        }
    }
}

.radio__elem{
    display: none;

    &:checked ~ .radio__visible{
        &::before{
            display: block;
        }
    }
}

.radio__visible{
    width: calc( 26px/$baseFontSize * 1rem);
    height: calc( 26px/$baseFontSize * 1rem);
    position: relative;
    background: white;
    border-radius: 50%;
    overflow: hidden;

    &:before{        
        content: " ";
        display: none;
        width: calc( 14px/$baseFontSize * 1rem);
        height: calc( 14px/$baseFontSize * 1rem);
        background: #E01F3D;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.radio__title{
    margin-left: calc( 10px/$baseFontSize * 1rem);
}