.reviews-section__title{
    margin-bottom: calc( 32px/$baseFontSize * 1rem);

    @include phones{     
        font-size: rem(32px);
        line-height: rem(36px);        
        margin-bottom: rem(27px);
    }
}

.reviews-section{
    // display: flex;
    &:before {
        display: block;
        content: " ";
        position: absolute;
        width: calc( 35px/$baseFontSize * 1rem);
        height: calc( 35px/$baseFontSize * 1rem);
        background: #868686;
        border-radius: 50%;
        overflow: hidden;
        bottom: calc( -3px/$baseFontSize * 1rem);
        left: 10%;        
    }

    @include phones{
        &:before {
            bottom: rem(-16px);
        }
    }


}

.reviews__display{
    background: $backReviewsBlock;
    overflow: hidden;
    margin-bottom: calc( 13px/$baseFontSize * 1rem); 
    padding: calc( 42px/$baseFontSize * 1rem);
    position: relative;

    &::before{
      content: '';  
      display: block;
      position: absolute;
      border-radius: 50%;
      left: 50%;
      top: calc( -55px/$baseFontSize * 1rem);
      transform: translateX(-50%);
      width: calc( 83px/$baseFontSize * 1rem);
      height: calc( 83px/$baseFontSize * 1rem);
      background: white;
    }

    @include tablets{
        margin-bottom: calc( 0px/$baseFontSize * 1rem);         
        padding: rem(55px) rem(55px) rem(36px) rem(55px);
    }

    @include phones{
        &::before{
            display: none;        
        }
        padding: rem(55px) 0px rem(76px);
    }

}

.reviews__display-inner{
    display: flex;    

    @include tablets{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    // @include phones{
    //     flex-direction: column;
    //     text-align: center;
    //     align-items: center;
    // }

    }

.reviews__avatar{
    width: calc( 253px/$baseFontSize * 1rem);
    height: calc( 264px/$baseFontSize * 1rem);

    @include tablets{
        width: calc( 130px/$baseFontSize * 1rem);
        height: calc( 130px/$baseFontSize * 1rem);
    
    }

    // @include phones{
    //     width: calc( 130px/$baseFontSize * 1rem);
    //     height: calc( 130px/$baseFontSize * 1rem);

    // }

}    

.reviews__avatar-pic{    
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews__content{
    flex:1;
    // margin-left: 20px;
    padding: calc( 31px/$baseFontSize * 1rem) calc( 109px/$baseFontSize * 1rem) 0 calc( 37px/$baseFontSize * 1rem);
    line-height: 1.35;

    @include tablets{
        padding: calc( 38px/$baseFontSize * 1rem) calc( 0px/$baseFontSize * 1rem) calc( 37px/$baseFontSize * 1rem);
        line-height: rem(18.51px);
    }

    @include phones{
        padding: rem(28px) 0px 0px;
    
    }

}

.reviews__title{
    font-weight: bold;    
    margin-bottom: calc( 22px/$baseFontSize * 1rem);
    color: $colorFontTitle;    

    @include phones{
        margin-bottom: rem(14px);
    }


}

.reviews__text{
    margin-bottom: calc( 41px/$baseFontSize * 1rem);
    color: #666666;
    line-height: calc( 19px/$baseFontSize * 1rem);
    
    @include tablets{
        margin-bottom: calc( 17px/$baseFontSize * 1rem);
    }

    @include phones{
        margin-bottom: rem(51px);
    }

}

.reviews__author{
    font-size: calc( 18px/$baseFontSize * 1rem);
    line-height: calc( 21px/$baseFontSize * 1rem);
    font-weight: bold;
    color: $colorFontTitle;
}


.reviews__switcher{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc( 3px/$baseFontSize * 1rem);

}