
.section{
    height: 100vh;    
    width: 100%;
    min-height: calc( 622px/$baseFontSize * 1rem);    
    display: flex;
    flex-direction: column;
    // justify-content: center;    
    align-items: center;
    position: relative;
}

.section__title{
    font-weight: bold;    
    text-transform: uppercase;
    text-align: center;
    color: $colorFontTitle;
}