
.benefit{
    text-align: center;

    @include phones{
        text-align: start;
    }

}
 
.benefit__pic-wrapper{
    // color: #F2F5F4;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#F2F5F4;
    width:  rem(128px);
    height:  rem(128px);
    border-radius: 50%;    
    overflow: hidden;
}

.benefit__pic{
    margin-bottom:  rem(22px);
    @include phones{
        margin-bottom: rem(0px);
    }

}

.benefit__icon{
    width:  rem(68px);
    height:  rem(68px);

    @include phones{
        width: rem(60px);
        height: rem(60px);

    }


}


.benefit__desc{
    // max-width: 247px;
    line-height: 1.2;
    // padding: rem(14px)  13px;
    padding: rem(4px)  rem(13px);

    @include phones{
        padding: rem(0px);
    }

}

.benefit__title{    
    color: $colorFontTitle;
    @include phones{
        font-size: rem(24px);
        line-height: rem(28px);        
    }
}

.benefit__text{
    @include phones{
        //padding-left: 9px;
        padding: rem(0px) rem(13px) 0 rem(12px);
    }

}