.container-black{
    background: #181818;;
    width: 100%;
    color: white;
    background: url(./../img/order/cta.png) center center no-repeat;
    background-size: cover;
    position: relative;

    &:before {
        content: url(./../img/order/Polygon2.png);
        position: absolute;
        width:  rem(35px);
        height:  rem(35px);
        top:  rem(-23px);
        left: 80.5%;
    }

}

.order-section__title{
    color: white;
    margin-bottom:  rem(57px);

    @include tablets{
        margin-bottom: rem(29px);
    }

    @include phones{
        margin-bottom: rem(36px);
        font-size: rem(32px);
        line-height: rem(36px);
    }

}